<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Preview mode title</title>
</head>
<body>
<div align="center">
    <h1 id="game-title">Guess the Number Game</h1>
    <h2 id="game-over">Game Over</h2>
    <h3 id="result-message">Result Message Content</h3>
    <h3>
        <a id="restart-url">Play Again</a>
    </h3>
    <h3>
        <a id="home-url">Home</a>
    </h3>

    <footer id="footerId">
        <p>Preview mode footer</p>
    </footer>
</div>
</body>
</html>